<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                    <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404err.png" alt="Developer" class="img-fluid" title="Eshwari Patole" style="height: 30rem;">
                        </figure>
                   
                        <p>Page you are fetching for does not exist</p>
                        <h1>Return to homepage</h1>
                       
                        <a href="/"> <button>Return to Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer>
        <p>
            Copyright &copy; All rights reserved
        </p>
    </footer>
</body>

</html>