<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    {{>headerlinks}}

</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="Developer" class="img-fluid" title="Eshwari Patole">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>Here's the developer world</p>
                        <h1>Developers for a better <span>Future</span> !</h1>
                        <p>-Eshwari Patole</p>
                        <a href="#"> <button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <footer>
        <p>
            Copyright &copy; All rights reserved
        </p>
    </footer>
</body>

</html>